@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force font and remove scrollbars globally */
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #182B49; /* UCSD Navy Fallback */
  overflow: hidden; /* HARD LOCK SCROLLING */
  height: 100vh;
  width: 100vw;
}

/* Hide scrollbar within panels */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
